@import "reset.css";
@import "font.css";

* {
  box-sizing: border-box;
}
b {
  font-weight: bold;
}
.content-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1900px;
  @media (max-width: 1800px) {
    max-width: 90%;
  }
}

h1 {
  font-family: "Bungee", serif;
}

h2 {
  font-size: 45px;
  margin-bottom: 34px;
  font-family: "Bungee", serif;
}
