---
import { careerJourney } from "./steps";
---

<div class="wave-pattern"></div>
<section>
  <h2 style="text-align: center">Overview of Career Journey</h2>
  <ul>
    {careerJourney.map((str) => <li>{str}</li>)}
  </ul>

  <div class="wave-pattern bottom"></div>
</section>

<style>
  section {
    background: #b6e1ff;
    position: relative;
    padding: 70px 0 110px;
  }

  .wave-pattern {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 20" preserveAspectRatio="none"><path d="M0 10 Q 25 0, 50 10 T 100 10 V20 H0 Z" fill="%23b6e1ff"/></svg>')
      repeat-x;
    background-size: 100px auto;
    height: 20px;
    &.bottom {
      background-size: 100px auto;
      transform: scaleY(-1);
      position: absolute;
      bottom: -20px;
      width: 100%;
    }
  }
  ul {
    display: flex;
    overflow: auto;
    padding: 0 0 20px;
    li {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      width: 100%;
      min-width: 300px;
      flex-basis: 400px;
      border-left: 5px solid #7eb3ff;
      background: #fff;
      border-radius: 15px;
      margin: 0 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 20px;
      position: relative;
      &:after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-left: 8px solid #c8a962;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        vertical-align: middle;
        right: -40px;
        position: absolute;
      }
      &:before {
        width: 20px;
        height: 2px;
        background: #c8a962;
        content: "";
        display: inline-block;
        vertical-align: middle;
        right: -35px;
        position: absolute;
      }
      &:last-child {
        &:after,
        &:before {
          display: none;
        }
      }
    }
  }
  .step {
  }
</style>
