---
import { HorizontalPath } from "./HorizontalPath";
---

<div class="wave-pattern"></div>
<section>
  <h2 style="text-align: center">
    <span>Overview of Career Journey</span>
    <span class="helper"> SCROLL TO SEE >> </span>
  </h2>
  <HorizontalPath client:load />
  <div class="wave-pattern bottom"></div>
</section>

<style>
  section {
    background: #b6e1ff;
    position: relative;
    padding: 70px 0 110px;
  }

  .wave-pattern {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="20" viewBox="0 0 100 20"><path d="M0 10 Q 25 0, 50 10 T 100 10 V20 H0 Z" fill="%23b6e1ff"/></svg>');
    background-repeat: repeat-x;
    background-size: auto 100%;
    height: 20px;
    &.bottom {
      background-size: 100px auto;
      transform: scaleY(-1);
      position: absolute;
      bottom: -20px;
      width: 100%;
    }
  }
  h2 {
    span:first-child {
      position: relative;
      right: 0;
      &::after {
        content: "*";
        color: darkred;
        position: absolute;
        top: -5px;
        right: -35px;
      }
    }
  }
  .helper {
    color: darkred;
    font-size: 20px;
    display: block;
  }
</style>
