---
import CommonLayout from "../layouts/CommonLayout.astro";
import Quote from "../components/Quote.astro";
import Projects from "../features/projects/Projects.astro";
---

<CommonLayout>
  <Quote color="#2894df">
    <li>
      In my free time, I enjoy building <b>pet projects</b> to keep learning and
      trying out new ideas.
    </li>
    <li>
      It’s a great way for me to <b>experiment with new technologies</b>, <b
        >sharpen my skills</b
      > and <b>stay in the loop</b> before the loop gets deprecated (•‿•)
    </li>
  </Quote>

  <Projects />
</CommonLayout>
