---
const { color = "#56b172" } = Astro.props;
---

<div class="content-container" style={`--quote-color: ${color};`}>
  <ul class="about">
    <slot />
  </ul>
</div>

<style>
  ul {
    font-size: 25px;
    line-height: 35px;
    padding: 40px 0 70px;
    position: relative;
    > li {
      margin-bottom: 10px;
    }

    &::before {
      content: "❝";
      display: block;
      position: absolute;
      font-size: 60px;
      left: -60px;
      top: 50px;
      color: var(--quote-color);
      @media (max-width: 1200px) {
        font-size: 400px;
        opacity: 0.1;
        top: 150px;
      }
    }
    @media (max-width: 1200px) {
    }
    @media (max-width: 620px) {
      font-size: 18px;
      line-height: 24px;
    }
  }
</style>
