---
const heartCode = "\u{2764}\u{FE0F}";
const uaCode = "\u{1F1FA}\u{1F1E6}";

const currentYear = new Date().getFullYear();
---

<div class="copyright">
  <div class="content-container">
    <p>
      Made with {heartCode}
      <a
        href="https://helpukraine.center/"
        target="_blank"
        title="Check if you can help">in Ukraine</a
      >
      <span>{uaCode}</span>
    </p>

    <p>&#169; {currentYear} Valentyna Antoniuk | All Rights Reserved</p>
  </div>
</div>

<style lang="scss">
  .copyright {
    padding: 20px 0;
    background: #ffe6eb;
    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 620px) {
        display: block;
        font-size: 12px;
        line-height: 20px;
      }
    }
    &:hover {
      span {
        opacity: 1;
        right: -30px;
      }
    }
  }
  a {
    cursor: help;
  }
  p:first-child {
    position: relative;
    span {
      opacity: 0;
      right: 0;
      position: absolute;
      transition: 0.5s;
      font-size: 22px;
      margin-left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
</style>
