---
const socialLinks = [
    {
        iconColor: '#0077B5',
        iconPath: "/icons/linkedin.svg",
        url: 'https://www.linkedin.com/in/antoniukvalentyna/'
    },
    {
        iconColor: '#aa381e',
        iconPath: "/icons/envelope.svg",
        url: 'mailto:antoniuk.valentyna@gmail.com'
    }
];
---
<ul>
    {
        socialLinks.map(link => (<li style={`--before-color: ${link.iconColor};`}><a target="_blank" rel="nofollow noopener noreferrer external" href={link.url}>
            <img class="icon" src={link.iconPath}>
        </a></li>))
    }
</ul>

<style lang="scss">
  ul {
    display: flex;
    li {
      list-style: none;
      a {
        width: 40px;
        height: 40px;
        background-color: #fff;
        text-align: center;
        line-height: 40px;
        font-size: 20px;
        margin: 0 10px;
        display: block;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        border: 2px solid #000;
        z-index: 1;
        .icon {
          width: 20px;
          height: 20px;
          position: relative;
          color: #262626;
          transition: .5s;
          z-index: 3;
          margin-top: 7px;
        }
        &:hover .icon {
          transform: scale(1.2);
        }
        &:hover .icon path {
          color: #fff;
        }
        &:before {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 100%;
          background: var(--before-color);
          transition: .5s;
          z-index: 2;
        }
        &:hover:before {
          top: 0;
        }
      }
    }
  }
</style>