---
import Button from "../../../components/ReactButton/ReactButton";
import {
  fetchMd,
  extractMarkdownSection,
  renderMarkdownSafe,
} from "../../../helpers";

const readme = await fetchMd("valentyna-antoniuk");
const section = renderMarkdownSafe(extractMarkdownSection(readme || ""));
---

<section>
  <div class="content-container">
    <h2>Skills & Technologies</h2>
    <div class="wrapper">
      <div class="skills">
        <Fragment set:html={section} />
      </div>
      <div class="more-skills">
        Need expertise in a specific technology?
        <b>Let’s connect!</b>
        <Button
          firstColor="#7eb3ff"
          secondColor="#758cff"
          data-skills-focus-button>Request a CV</Button
        >
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  const button = document.querySelector("[data-skills-focus-button]");

  button.addEventListener("click", () => {
    const element = document.getElementById("message");
    element?.scrollIntoView({
      behavior: "smooth",
      block: "center",
      inline: "nearest",
    });
    element.focus({ preventScroll: true });
  });
</script>

<style>
  section {
    padding: 80px 0 120px;
    position: relative;
    background: radial-gradient(#b6e1ff 5%, transparent 10%) 0 0 / 30px 30px;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
      background: #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
      padding: 30px;
      border-radius: 15px;
    @media (max-width: 1200px) {
      display: block;
    }
  }
  .skills {
    gap: 16px;
    flex: 2;
    margin-right: 60px;
    h4 {
        display: inline-block;
        padding: 0 5px;
      font-weight: 700;
      margin-bottom: 5px;
      font-size: 22px;
      &:not(:first-child) {
        margin-top: 25px;
      }
    }
    img {
      min-height: 30px;
    }
  }
  .more-skills {
    background: #fff;
    border: 3px solid #b6e1ff;
    border-radius: 15px;
    padding: 30px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (max-width: 1200px) {
      max-width: 500px;
      margin-top: 45px;
    }
  }
</style>
