---
import { backgroundImage } from "./helpers";
import Quote from "../../../components/Quote.astro";
---

<section>
  <div class="content-container">
    <div class="content">
      <h1>Valentyna Antoniuk</h1>
      <div>
        <h3>Team Lead</h3>
        <h3>Front-End Engineer</h3>
        <h3>React Specialist</h3>
      </div>
    </div>
    <img alt="banner" src="/banner.svg" class="bgSvg" fetchpriority="high" />
    <img
      fetchpriority="high"
      src="/valentyna-antoniuk-min.webp"
      alt="Valentyna Antoniuk"
      class="valentyna"
      style={`
    color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: ${backgroundImage};
  `}
      decoding="async"
    />
  </div>
</section>
<Quote>
  <li>
    I love JS, creating useful products, and finding interesting solutions.
  </li>
  <li>
    Earned a <b>Master’s degree in Computer Science</b> and have been building professional
    experience in software development since <b>2016</b>.
  </li>
  <li>
    Over the past <b>6+ years</b> I’ve been collaborating with startups, and for
    more than <b>4 years</b>, I have managed development teams, successfully
    enhancing processes and documentation I know how to improve code quality and
    achieve the project's business goals.
  </li>
</Quote>

<style>
  section {
    background: #b6ffcc;
    position: relative;
    overflow: hidden;
    height: max(60vh, 500px);
    @media (max-width: 900px) {
      height: max(35vh, 400px);
    }
  }
  .content {
    position: absolute;
    z-index: 3;
    top: 35%;
    @media (max-width: 700px) {
      top: 30px;
    }
  }
  .bgSvg {
    position: absolute;
    width: max(30vh, 40%);
    right: -5vw;
    top: 0;
    z-index: 0;
    @media (max-width: 900px) {
      top: inherit;
      bottom: -20%;
      width: max(40vh, 50%);
    }
    @media (max-width: 400px) {
      width: 100%;
      bottom: -140px;
    }
  }
  .valentyna {
    position: absolute;
    height: max(60vh, 400px);
    max-height: 90%;
    right: 15%;
    bottom: 0;
    @media (max-width: 900px) {
      height: inherit;
      max-height: inherit;
      width: max(30vw, 250px);
      right: 0;
    }
    @media (max-width: 430px) {
      width: 200px;
    }
  }
  h1 {
    font-size: min(4vw, 70px);
    @media (max-width: 900px) {
      font-size: 40px;
    }
    @media (max-width: 600px) {
      font-size: 35px;
    }
  }
  h3 {
    font-size: min(2.2vw, 40px);
    @media (max-width: 900px) {
      font-size: 30px;
    }
    @media (max-width: 400px) {
      font-size: 25px;
    }
  }
</style>
